# Reverse proxy from Caddy to development servers.
#
# Port: Service
# =============
# 8000: Caddy
# 8001: Provisioning Server (FastAPI)
# 8002: Web Application (Next.js)

http://localhost:8000

reverse_proxy /api http://localhost:8001
reverse_proxy /api/* http://localhost:8001
reverse_proxy /docs http://localhost:8001
reverse_proxy /docs/* http://localhost:8001
reverse_proxy /auth http://localhost:8001
reverse_proxy /auth/* http://localhost:8001
reverse_proxy /openapi.json http://localhost:8001
reverse_proxy * http://localhost:8002
