# Dabblebase Web Environment Variable Configuration
# This file is an example of the environment variables used by Dabblebase
# with default values to begin local development. Make sure to create a 
# `.env` file within the `/web` directory using these default values
# and customize as needed for your environment or for deployment purposes.

# Project mode ( development | production )
MODE=development

# Host information for the web server
HOST=localhost:8000

# Secret used for signing authentication tokens for projects.
# NOTE: Replace this value with a randomly generated uuid, which can be
# generated here: https://www.uuidgenerator.net.
AUTH_MASTER_SECRET=REPLACE_ME